@import "tailwindcss";

html,
body {
	height: 100%;
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	background-color: #111827; /* gray-900 */
}

body {
	-webkit-overflow-scrolling: touch;
	overscroll-behavior-y: none;
}
